
:root {
    --primary-color: #f3285a;
    --primary-color-light: #ff4f7b;
    --primary-color-dark: #ab1b50;
    --grey-color-light1: #fcfcfc;
    --grey-color-light2: #efefef;
    --grey-color-dark1: #3d3d3d;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: linear-gradient(to right bottom, var(--primary-color-light), var(--primary-color-dark));
    min-height: 100vh;
    position: relative;
}

.header {
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--grey-color-dark1);
    height: 10rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.navbar h1 a,
.navbar h1 a:link,
.navbar h1 a:visited {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 4rem;
    font-weight: 300;
    color: #f0eeee;
}

.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    margin-right: 1rem;
    margin-left: 1rem;
    height: 5rem;
}

.navbar ul {
    list-style: none;
    color: #f0eeee;
    display: flex;
    text-transform: uppercase;
    margin-right: 1rem;
}

.navbar ul li a,
.navbar ul li a:link,
.navbar ul li a:visited {
    text-decoration: none;
    color: #f0eeee;
    margin: 0 1.3rem;
    font-size: 1.4rem;
}


footer {
    width: 100%;
    min-height: 8rem;
    background-color: var(--grey-color-dark1);
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-info {
    font-size: 1.8rem;
    color: #f0eeee;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding-bottom: 8rem;
    position: relative;
}

.nav-icon {
    height: 2.5rem;
    margin-right: .5rem;
}

.navbar-icon-box {
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-icon {
    margin-top: .2rem;
    height: 2rem;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

#snackbar {
    background-color: green;
    position: absolute;
    bottom: 150vh;
    left: 2vw;
    font-size: 3rem;
}