.root-container {
    min-width: 60vw;
    min-height: 55vh;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    margin: 1rem;
}
.title-text-box{
    font-size: 3rem;
    font-weight: 500;
    color: #545454;
    padding: 0 .3rem;
    border-bottom: solid;
    border-color: #9d9d9d;
    margin-bottom: 1rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
}

.input-text {
    width: 90%;
    min-height: 4rem;
    margin: 1rem .5rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-color: #a97d96;
    border-style: solid;
    outline: none;
}
.input-text:nth-child(3){
    height: 20rem;
}

.input-text:focus {
    border-color: var(--color-primary);
    outline: none;
}

.form .btn,
.form .btn:hover {
    height: 4rem;
    width: 10rem;
    text-transform: uppercase;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--color-primary);
    border-style: solid;
    background: rgb(245, 143, 168);
    outline: none;
    color: #464646;
    margin-top: 5px;
    cursor: pointer;
}
.or-box{
    font-size: 1.3rem;
    width: 70%;
    height: .3rem;
    background-color: #9d9d9d;
    margin: 2rem 0 1rem 0;
}
.create-account-box{
    font-size: 2rem;

}
.create-account-box a,
.create-account-box a:link,
.create-account-box a:visited
{
    text-decoration: none;
    color: deeppink;
    padding: .3rem .7rem;
}
.input-file{
    margin: 4rem;
}
.use-same-image-box{
    font-size: 1.4rem;
    margin-bottom: 2rem;
}