.root-container {
    min-width: 75vw;
    min-height: 55vh;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    padding: 1rem 0;
    margin: 1rem;
}

.search-box {
    margin: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.search-text-field {
    flex-grow: 9;
    height: 4rem;
    font-size: 1.7rem;
    padding: 1rem;
    outline: none;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: blue;
}

.search-submit-button {
    flex-grow: 1;
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    background-color: lightblue;
    border-color: #5658e0;
    margin-left: 1rem;
    text-transform: uppercase;
}

.user-card {
    border-style: solid;
    border-radius: 10px;
}

.profile-pic {
    /*height: 15rem;*/
    max-height: 10rem;
}

.user-card-full-container {
    height: 20rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 1rem 0;
    padding: 1rem;
    border-color: #dedede;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .15);
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-card-image-container {
    height: 17rem;
    width: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.user-card-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    /*max-height: 10%;*/
}

.user-card-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    margin-left: 2rem;
}

.user-card-text-box h2 {
    font-size: 2.5rem;
    font-family: sans-serif;
    color: var(--grey-dark-1);
}

.user-card-email {
    font-size: 1.5rem;
    max-width: 60rem;
    color: #644848;;
}

/*.user-card-text-box :nth-child(3) {*/
/*    color: #5658e0;*/
/*}*/

/*.user-card-text-box :nth-child(4) {*/
/*    color: #8d8d8d;*/
/*    font-family: sans-serif;*/
/*}*/

.third-row {
    margin-left: auto;
    margin-right: 2rem;
}

.third-row a,
.third-row a:link,
.third-row a:visited {
    color: whitesmoke;
    padding: .8rem 1.4rem;
    border-radius: 5px;
    font-size: 1.6rem;
}
.follow-unfollow-btn{
    min-width: 10rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: whitesmoke;
}

.follow-btn {
    background-color: #4f9b4f;
}

.unfollow-btn {
    background-color: #b2667d;
}

.third-row :first-child {
    font-size: 1.5rem;
}

.number-posts-followers-block {
    display: flex;
    justify-content: space-between;
    width: 25rem;
}

.followers-block,
.posts-block {
    background-color: #67819f;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border-radius: 10px;
}

.posts-block {
    background-color: #7b9874;
}

.followers-block :nth-child(1),
.posts-block :nth-child(1) {
    font-family: sans-serif;
    font-size: 1.6rem;
}