.root-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
    margin: 1rem 0;
    padding: 0 2rem;
    min-width: 90vw;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, .2);
}

.top-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 20rem;
    width: 100%;
    padding: 0 1rem;
}

.welcome-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #dedede;
    height: 15rem;
    margin: 1rem;
    padding: 1rem 3rem;
}

.welcome-text-box {
    margin-left: 1rem;
}

.welcome-text-box :first-child {
    font-size: 3rem;
    color: var(--grey-color-dark1);
}

.profile-pic {
    height: 10rem;
    cursor: pointer;
}

.count-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #dedede;
    height: 15rem;
    margin: 1rem;
    padding: 1rem 3rem;
}

.count-number {
    font-size: 4rem;
    font-weight: 500;
    color: #5658e0;
}

.count-text {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: var(--grey-color-dark1);
}

.subtitle {
    /*margin-left: 2rem;*/
    font-size: 2rem;
    font-weight: 500;
    color: var(--grey-color-dark1);
}

.posts-section-container {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #dedede;
    margin: 1rem 2rem;
    padding: 2rem;
}

.post-container a,
.post-container a:visited,
.post-container a:link {
    text-decoration: none;
    color: var(--grey-color-dark1);
}

.post-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.post-thumb-box {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #dedede;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, .15);
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    margin: 1rem;
}

.post-thumb-box img {
    width: 85%;
}

.post-thumb-box h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.post-thumb-box p {
    font-size: 1.5rem;
    color: var(--grey-color-dark1);
}

.post-thumb-image-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-action-section {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #dedede;
    margin: 1rem 2rem;
    padding: 2rem;
}

.follow-unfollow-message {
    font-size: 2rem;
    color: var(--grey-color-dark1);
}

.follow-unfollow-btn {
    min-width: 10rem;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: whitesmoke;
    margin: 1rem 3rem;
}

.follow-btn {
    background-color: #4f9b4f;
}

.unfollow-btn {
    background-color: #b2667d;
}

.modal-body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-height: 95vh;
}

#modal-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#modal-profile-img {
    margin: 10rem;
}