{% extends "base.html" %}
{% block head %}
    <title>Create Post</title>
    <link rel="stylesheet" href="../static/login_signup.css">
{% endblock %}
{% block body %}
    <div class="login-box">
        <div class="login-text-box">Login</div>
        <form class="form" method="post" action="/create-post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.title(class_="input-text") }}
            {{ form.description(class_="input-text") }}
            {{ form.imageUrl }}
            <input type="submit" class="btn submit">
        </form>
    </div>
{% endblock %}