{% extends "base.html" %}
{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
{% endblock %}
{% block body %}
    <div class="modal-body" id="modal" style="visibility: hidden">
        <div class="dialog-box">
            <p class="dialog-text">
                Are you sure you want to delete your account?
            </p>
            <div class="modal-actions">
                <div class="modal-btn modal-no-btn" id="modal-no-btn">No</div>
                <div class="modal-btn modal-yes-btn" id="modal-yes-btn">Yes</div>
            </div>
        </div>
    </div>
    <div class="root-container">
        <div class="top-banner">
            <div class="welcome-box">
                <img src="{{ user.imageUrl }}" alt="user image" class="profile-pic">
                <div class="welcome-text-box">
                    <h2>Welcome</h2>
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
            <a href="/all-posts">
                <div class="count-box">
                    <span class="count-text">Total Posts</span>
                    <span class="count-number"> {{ user.posts|length }}</span>
                </div>
            </a>

            <a href="/users/followees">
                <div class="count-box">
                    <span class="count-text">Followed</span>
                    <span class="count-number"> {{ user.follows|length }}</span>
                </div>
            </a>
            <a href="/users/followers">
                <div class="count-box">
                    <span class="count-text">Followed By</span>
                    <span class="count-number"> {{ user.followers|length }}</span>
                </div>
            </a>
        </div>
        <div class="action-buttons-section">
            <a href="/edit-user" class="action-btn edit-user-btn">Update Details</a>
            <div class="action-btn delete-user-btn" id="delete-user-btn">Delete User Account</div>
        </div>

        <div class="posts-section-container">
            <a href="/all-posts"><h2 class="subtitle">
                My Posts:
            </h2></a>

            <div class="post-container">
                {% if user.posts is defined and user.posts|length > 0 %}
                    {% for post in user.posts %}
                        <a href="/post/{{ post.id }}">
                            <div class="post-thumb-box">
                                <div class="post-thumb-image-container">
                                    <img src="{{ post.imageUrl }}" alt="post">
                                </div>
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.description[:20] }}....</p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>No posts to show</h2>
                {% endif %}
            </div>

        </div>
    </div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="../static/script/dashboard.js"></script>
{% endblock %}