{% extends "base.html" %}
{% block head %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/login_signup.css">
{% endblock %}
{% block body %}
    <div class="login-box">
        <div class="login-text-box">Sign Up</div>
        <form class="form" method="post" action="/signup" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.name(class_="input-text") }}
            {{ form.email(class_="input-text") }}
            {{ form.password(class_="input-text") }}
            {{ form.imageUrl }}
           <input type="submit" class="btn submit">
        </form>
        <div class="or-box">
        </div>
        <div class="create-account-box">
            <a href="/login">Login</a>
        </div>
    </div>
{% endblock %}