{% extends "base.html" %}
{% block head %}
    <title>Sign Up</title>
    <link rel="stylesheet" href="../static/login_signup.css">
{% endblock %}
{% block body %}
    <div class="login-box">
    <div class="login-text-box">Sign Up</div>
        <form class="form">
            <input type="email" class="input-text" placeholder="Email">
            <input type="password" class="input-text" placeholder="Password">
            <input type="password" class="input-text" placeholder="Confirm Password">
            <input type="submit" class="btn submit">
        </form>
    <div class="or-box">
    </div>
    <div class="create-account-box">
        <a href="/login">Login</a>
    </div>
    </div>
{% endblock %}