{% extends "base.html" %}
{% block head %}
    <title>{{ user.username }}</title>
    <link rel="stylesheet" href="../static/user.css">
{% endblock %}
{% block body %}
    <div class="modal-body" id="image-modal" style="visibility: hidden">
        <div class="modal-image-container" id="modal-img-container" style="visibility:hidden;">
            <img src="/static/close_icon.png" alt="close button" id="modal-close-btn">
            <img src="/{{ user.imageUrl }}" alt="profile pic" id="modal-profile-img">
        </div>
    </div>
    <div class="root-container">
        <p class="user-id" style="visibility:hidden;">{{ user.id }}</p>
        <div class="top-banner">
            <div class="welcome-box">
                <img src="/{{ user.imageUrl }}" alt="user image" class="profile-pic" id="profile-pic-thumb">
                <div class="welcome-text-box">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
            <a href="/user/{{ user.id }}/all-posts">
                <div class="count-box">
                    <span class="count-text">Total Posts</span>
                    <span class="count-number"> {{ user.posts|length }}</span>
                </div>
            </a>

            <a href="/user/{{ user.id }}/followees">
                <div class="count-box">
                    <span class="count-text">Followed</span>
                    <span class="count-number"> {{ user.follows|length }}</span>
                </div>
            </a>
            <a href="/user/{{ user.id }}/followers">
                <div class="count-box">
                    <span class="count-text">Followed By</span>
                    <span class="count-number" id="followers-count-label"> {{ user.followers|length }}</span>
                </div>
            </a>
        </div>
        <div class="follow-action-section">
            {% if current_user in user.followers %}
                <p class="follow-unfollow-message" id="follow-unfollow-message">You're following this user</p>
                <button class="follow-unfollow-btn unfollow-btn">
                    Unfollow
                </button>
            {% else %}
                <p class="follow-unfollow-message" id="follow-unfollow-message">You're not following this user</p>
                <button class="follow-unfollow-btn follow-btn">
                    Follow
                </button>
            {% endif %}

        </div>
        <div class="posts-section-container">
            <a href="/user/{{ user.id }}/all-posts">
                <h2 class="subtitle">
                    {{ user.username }}'s Public Posts:
                </h2>
            </a>

            <div class="post-container">
                {% if user.posts is defined and user.posts|length > 0 %}
                    {% for post in user.posts %}
                        {% if not post.archived %}
                            <a href="/post/{{ post.id }}">
                                <div class="post-thumb-box">
                                    <div class="post-thumb-image-container">
                                        <img src="/{{ post.imageUrl }}" alt="post">
                                    </div>
                                    <h2>{{ post.title }}</h2>
                                    <p>{{ post.description[:20] }}....</p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <h2>No posts to show</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="../static/script/user.js"></script>
{% endblock %}