{% extends "base.html" %}
{% block head %}
    <title>Users List </title>
    <link rel="stylesheet" href="/static/search.css">
{% endblock %}
{% block body %}
    <div class="root-container">
        {% if users is defined and users|length>0 %}
            <h1 class="h1-title">{{ title }}</h1>
            {% for user in users %}
                <p class="user-id" style="visibility:hidden;">{{ user.id }}</p>
                <div class="user-card-full-container">
                    <div class="user-card-image-container">
                        <a href="/user/{{ user.id }}">
                            <img src="/{{ user.imageUrl }}" alt="profile pic" class="user-card-image">
                        </a>
                    </div>
                    <div class="user-card-text-box">
                        <a href="/user/{{ user.id }}">
                            <h2>{{ user.username }}</h2>
                        </a>
                        <p class="user-card-email">{{ user.email }}</p>
                        <div class="number-posts-followers-block">
                            <div class="followers-block">
                                <span>{{ user.followers|length }}</span> -
                                <span>Followers</span>
                            </div>
                            <div class="posts-block">
                                <span>{{ user.posts|length }}</span> -
                                <span>Posts</span>
                            </div>
                        </div>

                    </div>
                    <div class="third-row">
                        {% if user!=current_user %}
                            {% if user in current_user.follows %}
                                <button class="follow-unfollow-btn unfollow-btn">
                                    Unfollow
                                </button>
                            {% else %}
                                <button class="follow-unfollow-btn follow-btn">
                                    Follow
                                </button>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>There are no users that match your search criteria</h2>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/script/search.js"></script>
{% endblock %}