{% extends "base.html" %}
{% block head %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/user.css">
{% endblock %}
{% block body %}
    <div class="root-container">
        <div class="top-banner">
            <div class="welcome-box">
                <img src="/{{ user.imageUrl }}" alt="user image" class="profile-pic">
                <div class="welcome-text-box">
                    <h2>{{ user.username }}</h2>
                </div>
            </div>
            <a href="/all-posts">
                <div class="count-box">
                    <span class="count-text">Total Posts</span>
                    <span class="count-number"> {{ user.posts|length }}</span>
                </div>
            </a>

            <a href="/followees">
                <div class="count-box">
                    <span class="count-text">Followed</span>
                    <span class="count-number"> {{ user.follows|length }}</span>
                </div>
            </a>
            <a href="/followers">
                <div class="count-box">
                    <span class="count-text">Followed By</span>
                    <span class="count-number"> {{ user.followers|length }}</span>
                </div>
            </a>
        </div>


        <div class="posts-section-container">
            <h2 class="subtitle">
                {{ user.username }}'s Posts:
            </h2>

            <div class="post-container">
                {% if user.posts is defined and user.posts|length > 0 %}
                    {% for post in user.posts %}
                        <a href="/post/{{ post.id }}">
                            <div class="post-thumb-box">
                                <div class="post-thumb-image-container">
                                    <img src="/{{ post.imageUrl }}" alt="post">
                                </div>
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.description[:20] }}....</p>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h2>No posts to show</h2>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}